{% extends 'base.html' %}

{% block content %}

<section id="home" class="s-home target-section" data-parallax="scroll" data-image-src="images/hero-bg.jpg" data-natural-width="3000" data-natural-height="2000" data-position-y="center">
    <div class="overlay"></div>
    <div class="shadow-overlay"></div>
    <div class="home-content">

    <div class="row home-content__main">
      <h3>Hello There,</h3>
      <h1>Welcome to MM-Guru</h1>
      <h3>
        This project is developed as a final year b-tech project. The main objective of this is to build a model to convert handwritten Malayalam documents to its digital format. Preservation and security of the documents can be achieved by converting to digital format. This project mainly consists of two parts. The first part focuses on the segmentation of the entire document into a stream of characters. The second part focuses on converting these stream of characters to its corresponding Unicode. Segmentation is done mainly using different OpenCV methods. The recognition model is a CNN model with 5 layers with pretty good accuracy of 92%. Since segmentation is a trickier operation it gives good results on scanned copies      </h3>

    </div>
    </div>
    
    </section> 

{% endblock %}